.signup-container {
  background-color: #0d0d1a;
  color: #FFFFFF;
  max-width: 52.1875rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  display: flex;
  max-height: 38rem;
}
.signup-container .signupLeftSection {
  padding: 2.5rem;
  min-width: 35%;
}
.signup-container .signupLeftSection h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.signup-container .signupLeftSection form {
  display: flex;
  flex-direction: column;
}
.signup-container .signupLeftSection form div {
  margin-bottom: 1.25rem;
}
.signup-container .signupLeftSection form div label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.signup-container .signupLeftSection form div input[type=text],
.signup-container .signupLeftSection form div input[type=email],
.signup-container .signupLeftSection form div input[type=password],
.signup-container .signupLeftSection form div input[type=file] {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #16193a;
  border-radius: 0.25rem;
  background-color: #16193a;
  color: #FFFFFF;
  transition: border-color 0.2s;
}
.signup-container .signupLeftSection form div input[type=text]:focus,
.signup-container .signupLeftSection form div input[type=email]:focus,
.signup-container .signupLeftSection form div input[type=password]:focus,
.signup-container .signupLeftSection form div input[type=file]:focus {
  outline: none;
  border-color: #16193a;
}
.signup-container .signupLeftSection form div button[type=submit] {
  background-color: #16193a;
  color: #FFFFFF;
  border: none;
  padding: 0.625rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
.signup-container .signupLeftSection form div button[type=submit]:hover {
  background-color: #080915;
}
.signup-container .signupLeftSection form .error-message {
  font-size: 14px;
}
.signup-container .signupLeftSection form .signupBtn {
  display: grid;
  justify-content: center;
}
.signup-container .signupRightSection img {
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 768px) {
  .signup-container .signupRightSection {
    display: none;
  }
  .signup-container .signupLeftSection {
    padding: 2.5rem;
    min-width: 35%;
  }
  .signup-container .signupLeftSection h2 {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .signup-container .signupLeftSection form {
    display: flex;
    flex-direction: column;
  }
  .signup-container .signupLeftSection form div {
    margin-bottom: 1.25rem;
  }
  .signup-container .signupLeftSection form div label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }
  .signup-container .signupLeftSection form div input[type=text],
  .signup-container .signupLeftSection form div input[type=email],
  .signup-container .signupLeftSection form div input[type=password],
  .signup-container .signupLeftSection form div input[type=file] {
    width: 290px;
    padding: 0.625rem;
    border: 1px solid #16193a;
    border-radius: 0.25rem;
    background-color: #16193a;
    color: #FFFFFF;
    transition: border-color 0.2s;
  }
  .signup-container .signupLeftSection form div input[type=text]:focus,
  .signup-container .signupLeftSection form div input[type=email]:focus,
  .signup-container .signupLeftSection form div input[type=password]:focus,
  .signup-container .signupLeftSection form div input[type=file]:focus {
    outline: none;
    border-color: #16193a;
  }
  .signup-container .signupLeftSection form div button[type=submit] {
    background-color: #16193a;
    color: #FFFFFF;
    border: none;
    padding: 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  .signup-container .signupLeftSection form div button[type=submit]:hover {
    background-color: #080915;
  }
}/*# sourceMappingURL=signup.css.map */